.custom-badge .mat-badge-content {
    width: 24px; /* Custom width */
    height: 24px; /* Custom height */
    font-size: 14px; /* Custom font size */
    line-height: 24px; /* Center the text vertically */
}

.custom-badge .mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
}

a {
    &.active {
        color: #7d00fa;
    }
}